<h1>{{title}}</h1>
<form id="search">
<h1>Search for any artist below...</h1>
<input type="search" id="keyword"/>
<input type ="hidden" id="sink" value="{{bearerToken}}"/>
<input type="submit" id='button' value="SEARCH"/>
 </form>
 <ol id="spot-artist"></ol>
 <script src="/javascripts/jquery.js"></script>
 <script src="/javascripts/index.js"></script>

