<h1>{{title}}</h1>
<form id="search">
<h1>Search for any artist below...</h1>
<input type="search" id="keyword"/>
{{!-- <input type ="hidden" id="sink" value="{{bearerToken}}"/> --}}
<input type="submit" id='button' value="SEARCH"/>
 </form>
 <ol id="spot-artist"></ol>
 <script src="/javascripts/jquery.js"></script>
 <script src="/javascripts/index.js"></script>
 {{!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClV0bMDHQmNhgrZpJwC3-4Srz0wQrlWec&callback=initMap"
  type="text/javascript"></script> --}}

